
body
{
  color: #fff;
  background-color: #000;
  font-family: monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a,
a:link,
a:visited,
a:hover,
a:active
{
  color: #000;
  font-weight: bold;
}

/* containers */

body > *
{
  position: relative;
  width: 100vw;
  height: fit-content;
  display: flex;
  padding: 20px 0;
}

.center
{
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-vertical
{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* style */

.logo
{
  width: 200px;
  user-select: none;
  filter: drop-shadow(0 5px 10px #000);
}

.yellow-box
{
  background-color: rgb(255, 217, 0);
  box-shadow: 4px 4px 0 #ff9900;
  padding: 10px 14px;
  border-radius: 8px;
  color:  #3a2300;
  margin: 12px auto;
}

.description
{
  max-width: 100%;
  text-align: left;
}

.links
{
  width: fit-content;
  margin: 8px auto;
}

.background
{
  background: center / cover url("background.jpg");
  min-height: calc(100vh - 40px);
}

.more
{
  user-select: none;
  position: absolute;
  bottom: 40px;
  width: 100vw;
  font-size: 60px;
}

/* button behavior */

.button
{
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  transform: scale(100%);
}

.button:hover
{
  transform: scale(110%);
}

.button:active
{
  transform: scale(90%);
}