
body
{
  color: #fff;
  background: center / cover url("background.jpg");
  font-family: monospace;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active
{
  color: #fff;
}

/* grid */

.grid
{
  display: flex;
  flex-wrap: wrap;
}

.grid div
{
  flex: auto;
}

.grid img
{
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  aspect-ratio: 1;
  transform: scale(90%);
  user-select: none;
}

/* center */

.container
{
  position: relative;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}

.center
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.center img
{
  width: 200px;
  user-select: none;
  filter: drop-shadow(0 10px 20px #000);
}

.button
{
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  transform: scale(90%);
}

.button:hover
{
  transform: scale(100%);
}

.button:active
{
  transform: scale(80%);
}

/* background */

.background
{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: center / cover url("background.jpg");
  filter: blur(10px);
}

/* wip */

@keyframes scroll {
  from {
    background-position : 0px
  }
  to {
    background-position : -100vw
  }
}

.wip
{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  height: 20px;
  background: center / contain url("gif/wip.gif");
  animation: scroll 10s linear infinite;
  z-index: 1;
}