
.miroir-arcade
{
    background: center / cover url("4.jpg");
}

.miroir-arcade-container
{
    max-width: 800px;
    height: 100%;
    margin: auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.miroir-arcade-description
{
    color: #352000;
    background-color: rgb(255, 217, 0);
    box-shadow: 4px 4px 0 #ff9900;
    padding: 0;
    width: 100%;
    margin: 8px;
    border-radius: 5px;
}

.miroir-arcade-description p
{
    padding: 8px;
    margin: 0;
}

.miroir-arcade-video
{
    width: 100%;
    margin: 8px;
}

.miroir-arcade-gallery
{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.miroir-arcade-video video
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 0 #333;
}

.miroir-arcade img
{
    height: 30vh;
    border-radius: 5px;
    box-shadow: 4px 4px 0 #333;
    margin: 8px;
}
