
.tetardise
{
    background: center / cover url("tetardise-1.jpg");
    min-height: 100vh;
}

.tetardise-container
{
    position: absolute;
    right: 5vw;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.tetardise-description
{
    color: black;
    background-color: white;
    padding: 0;
    transform: rotate(2deg);
    width: 60vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.tetardise-description p
{
    padding: 8px;
    margin: 0;
}


.tetardise-video
{
    transform: rotate(-2deg);
    margin-bottom: 3vh;
}

.tetardise-video video
{
    /* width: 100%; */
    height: 35vh;
}

.tetardise-gallery
{
    display: flex;
    flex-direction: row;
}

.tetardise-img-1
{
    transform: rotate(3deg);
}

.tetardise-img-2
{
    transform: rotate(1deg);
}

.tetardise img
{
    height: 25vh;
    margin-left: 3vw;
}