
/* crashboard */

.crashboard
{
    background: repeat url("/gif/bgstar1_6.gif");
}

.card
{
    font-size: 2vmin;
}

.card-header
{
    padding: 4px 8px;
}

.card p
{
    font-size: 1.5vmin;
    padding: 4px 8px;
    margin: 0;
}

.crashboard-description
{
    width: 40vw;
    text-align: left;
    position: absolute;
    left: 10vw;
    top: 10vh;
}

.card-video
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 63vmin;
    height: 40vmin;
}

.card-video video
{
    margin-top: 4px;
    width: calc(100% - 2px);
    height: calc(40vmin - 2vmin - 24px);
}

.card-photo-1
{
    position: absolute;
    left: 10vw;
    bottom: 10vh;
    width: 30vmin;
}

.card-photo-2
{
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    width: 25vmin;
}

.card-photo-3
{
    position: absolute;
    right: 15vw;
    top: 14vh;
    width: 25vmin;
}

.card-photo-4
{
    position: absolute;
    left: 5vw;
    top: 35vh;
    width: 25vmin;
}

.card-photo-5
{
    position: absolute;
    right: 20vw;
    bottom: 5vh;
    width: 45vmin;
}

.card img
{
    width: calc(100% - 2px);
    margin-top: 4px;
}